body {
    font-family: Arial, Helvetica, sans-serif;
  background-color: black
}


.container{
    background-color: black;
    width: 40%;
    margin: 0 auto;
    padding: 200px;
}

.centro{
    text-align: center
}
.red{
    color: crimson
}

.imagem{
    width:20px;
    height:-50%;
    margin-left:500px;
    margin-top:-60%

}

.filme{
    display: flex;
    flex-direction: row;
    align-items: center;
}

